[{
  type: "p"
  text: "Welcome to the world of tomorrow!"
}, {
  type: "button"
  text: "New Image"
  script: """
    @click ->
      editor.addObjectFromData
        type: "img"
        src: "https://trello-attachments.s3.amazonaws.com/54a60b08f586e1cafdef3113/350x247/b4e92ef573aa2723d6b16330fa53548d/HyperCardbird-e1338220256722.jpg"
  """
}, {
  type: "button"
  text: "Greet"
  script: """
    @click ->
      say "Hello"
  """
}, {
  template: """
    %form(@submit)
      %textarea(@value)
      %button Create Object
  """
  script: """
    @value = Observable \"""
      type: "p"
      text: "Click me and I'll remove myself!"
      script: "@click -> editor.remove this"
    \"""

    @submit = (event) ->
      event.preventDefault()

      editor.addObjectFromData CSON.parse @value()
  """
}, {
  template: """
    %p
      Object Count:
      %span= @count
  """
  script: """
    @count = Observable ->
      editor.objects.size()
  """
}, {
  r: 64
  g: 64
  b: 64
  template: """
    %div(@style)
      %input(value=@r)
      %input(value=@g)
      %input(value=@b)
  """
  script: """
    @style = ->
      "background-color: rgb(\#{@r()}, \#{@g()}, \#{@b()})"
  """
}]
