remoteDependencies: [
  "https://cdnjs.cloudflare.com/ajax/libs/coffee-script/1.7.1/coffee-script.min.js"
]
dependencies:
  cornerstone: "distri/cornerstone:v0.2.8"
  cson: "distri/cson:v0.1.0"
  hamlet: "distri/hamlet:v0.0.1"
  require: "distri/require:v0.5.0"
